<p>Hello</p>
<br>

<p>Your Landlord "<%= @landlord.name %>" from <%= @landlord.address %> has just added you to a fantastic new web app Genielets.</p>
<br/>

<p>Please signup now and accept <a href="http://www.genielets.com/users/sign_up?type=tenant">connection</a></p>
