<p>Hello</p>
<br>

<p>Your tenant "<%= @tenant.name %>" has just added you to a fantastic new web app Genielets.<br/>
  Please signup now and accept <a href="http://www.genielets.com/users/sign_up?type=landlord">connection</a>.</p>
<br/>
