%p
  Hi #{@name}

%p
  Your “#{@tenant.name}” has now begun to use this innovative app that enables
  them to manage their monthly rental payments quickly and easily.
%p
  If you sign up for an account it will enable you to make a connection request with your tenant which will allow you
  to begin collecting rental payments via Paypal. Not only is this a great feature, but there are many other benefits of
  opening an account with us.
%p
  Regards
