<p>Hello</p>
<br>

<p>Your tenant "<%= @tenant.name %>" has just added you to a fantastic new web app Genielets.<br/>
  Please <a href="http://genielets.com/users/sign_in">signin</a> now and accept connection.</p>
<br/>
