<p>
  Dear <%= @landlord.name %>,
</p>

<p>
    Our records show that your subscription has expired today, please login and renew at <a href="http://www.genielets.com">www.genielets.com</a>
</p>

Regards,
