<p>Hello</p>
<br>

<p>Your Landlord "<%= @landlord.name %>" from <%= @landlord.address %> has just added you to a fantastic new web app Genielets.</p>
<br/>

<p>Please <a href="http://www.genielets.com/users/sign_in">signin</a> now and accept connection</p>
