.row
  .col-sm-12
    %ol.breadcrumb
      %li
        %i.clip-home-3
        %a{:href => "#"}
          Home
      %li.active
        Dashboard
      %li.search-box
        %form.sidebar-search
          .form-group
            %input{:placeholder => "Start Searching...", :type => "text"}
              %button.submit
                %i.clip-search-3
