span.badge {
  font-size: 17px;
}

a.navbar-brand {
  padding-top: 3px !important;
  padding-bottom: 3px !important;

  img {
    margin-top: 3px;
  }
}

.pricing-table .stripe-button-el {
  display: none;
}